body {
}

#ChangePass {
    height: 350px;
    width: 28%;
    border: 1px solid lightgray;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: Adobe Garamond Pro Bold;
}
div p {
    font-size: 30px;
    text-align: center;
    font-family: Adobe Garamond Pro Bold;
}

.buttonbox {
    background-color: #b0d3ec;
    border-radius:5px;
}
.buttonbox:hover {
  color:white;   
        background-color: #1994fc;
    }
.Txtbox:hover {
border-color:#1994fc;
}
.Txtbox {
border-radius:5px;

